h1{
    color: red;
    background-color: black;
    text-align: center;
}


h2{
    color:#aa00dd;
    background-color:aquamarine;
    text-align: center;
}


table{
    background-color: aqua;
}

h3{
    color: red;
}

ol{
    background-image: url(../images/mizu.png);
}

p{
    color:chocolate; 
}

body{
     background-image: url(../images/back2.jpg);
     background-attachment: fixed;
}